body{
  margin:0;
  height:100vh;
  background:linear-gradient(to bottom,#06152e,#164b7a,#2f78b7);
  color:white;
  overflow:hidden;
  user-select:none;
}

.title{
  position:absolute;
  top:15%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:50px;
}

.subtitle{
  position:absolute;
  top:21%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:22.5px;
  color:skyblue;
}

.header{
  padding-left:37.5px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(5,8,22,0.6);
  backdrop-filter:blur(10px);
  width:100%;
  font-size:20px;
}

nav{
  padding-right:75px;
  font-size:25px;
  display:flex;
  gap:25px;
}

footer{
  position:absolute;
  bottom:0;
  display:flex;
  flex-direction:column;
  background:rgba(5,8,22,0.6);
  backdrop-filter;blur(10px);
  width:100%;
  height:250px;
}

.footer{
  font-size:12.5px;
}

.footer-text{
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%,-50%);
}

.goal{
  position:absolute;
  bottom:20%;
  left:12%;
  width:312.5px;
  height:112.5px;
  padding:12.5px;
  border:1.25px solid skyblue;
  border-radius:12.5px;
  backdrop-filter:blur(10px);
  font-size:16.25px;
}

.goal-text{
  font-size:18.75px;
}

.method{
  position:absolute;
  bottom:20%;
  left:31%;
  width:312.5px;
  height:112.5px;
  padding:12.5px;
  border:1.25px solid skyblue;
  border-radius:12.5px;
  backdrop-filter:blur(10px);
  font-size:16.25px;
}

.method-text{
  font-size:18.75px;
}

.record{
  position:absolute;
  bottom:20%;
  right:32%;
  width:312.5px;
  height:112.5px;
  padding:12.5px;
  border:1.25px solid skyblue;
  border-radius:12.5px;
  backdrop-filter:blur(10px);
  font-size:16.25px;
}

.record-text{
  font-size:18.75px;
}

.warning{
  position:absolute;
  bottom:20%;
  right:13%;
  width:312.5px;
  height:112.5px;
  padding:12.5px;
  border:1.25px solid skyblue;
  border-radius:12.5px;
  backdrop-filter:blur(10px);
  font-size:16.25px;
}

.warning-text{
  font-size:18.75px;
}

.main-box{
  position:absolute;
  top:47%;
  left:50%;
  transform:translate(-50%,-50%);
  width:687.5px;
  height:337.5px;
  padding:12.5px;
  border:1.25px solid skyblue;
  border-radius:12.5px;
  background:rgba(5,8,22,0.5);
  backdrop-filter:blur(10px);
}

.aaa{
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:37.5px;
}

.skyblue{
  color:skyblue;
}

.name{
  position:absolute;
  top:2%;
  left:50%;
  font-size:16.25px;
  transform:translate(-50%,-50%);
}

.name-text{
  position:absolute;
  top:16%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:25px;
  width:625px;
  background:rgba(5,8,1,0);
  color:white;
  border:1px solid skyblue;
}

.mode{
  position:absolute;
  top:26%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:16.25px;
}

.mode-select{
  position:absolute;
  top:55%;
  left:75%;
  transform:translate(-50%,-50%);
  width:275px;
  height:100px;
  padding:12.5px;
  border:3.75px solid #2da8e8;
  border-radius:12.5px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.mode-select2{
  position:absolute;
  top:55%;
  left:25%;
  transform:translate(-50%,-50%);
  width:275px;
  height:100px;
  padding:12.5px;
  border:3.75px solid #2da8e8;
  border-radius:12.5px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.mode-select input{
  display:none;
}

.mode-select2 input{
  display:none;
}

.color-mode{
  font-size:31.25px;
}

.color-mode-text{
  font-size:15px;
}

.move-mode{
  font-size:31.25px;
}

.move-mode-text{
  font-size:15px;
}

.mode-select:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.mode-select2:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.start{
  position:absolute;
  top:85%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#1e69ff;
  color:white;
  border:1.25px solid 1e72ff;
  border-radius:50px;
  backdrop-filter:blur(10px);
  width:350px;
  height:62.5px;
  font-size:31.25px;
}

#mode-message{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  font-size:75px;
  font-weight:bold;
  opacity:0;
  pointer-events:none;
}

#mode-message.show{
  animation:fadeOut 1.5s ease forwards;
}

@keyframes fadeOut{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
