body{
  margin:0;
  height:100vh;
  background:linear-gradient(to bottom,#06152e,#164b7a,#2f78b7);
  color:white;
  overflow:hidden;
  user-select:none;
}

.title{
  position:absolute;
  top:15%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:40px;
}

.subtitle{
  position:absolute;
  top:21%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:18px;
  color:skyblue;
}

.header{
  padding-left:30px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(5,8,22,0.6);
  backdrop-filter:blur(10px);
  width:100%;
}

nav{
  padding-right:60px;
  font-size:20px;
  display:flex;
  gap:20px;
}

footer{
  position:absolute;
  bottom:0;
  display:flex;
  flex-direction:column;
  background:rgba(5,8,22,0.6);
  backdrop-filter;blur(10px);
  width:100%;
  height:200px;
}

.footer{
  font-size:10px;
}

.footer-text{
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%,-50%);
}

.goal{
  position:absolute;
  bottom:20%;
  left:12%;
  width:250px;
  height:90px;
  padding:10px;
  border:1px solid skyblue;
  border-radius:10px;
  backdrop-filter:blur(10px);
  font-size:13px;
}

.goal-text{
  font-size:15px;
}

.method{
  position:absolute;
  bottom:20%;
  left:31%;
  width:250px;
  height:90px;
  padding:10px;
  border:1px solid skyblue;
  border-radius:10px;
  backdrop-filter:blur(10px);
  font-size:13px;
}

.method-text{
  font-size:15px;
}

.record{
  position:absolute;
  bottom:20%;
  right:32%;
  width:250px;
  height:90px;
  padding:10px;
  border:1px solid skyblue;
  border-radius:10px;
  backdrop-filter:blur(10px);
  font-size:13px;
}

.record-text{
  font-size:15px;
}

.warning{
  position:absolute;
  bottom:20%;
  right:13%;
  width:250px;
  height:90px;
  padding:10px;
  border:1px solid skyblue;
  border-radius:10px;
  backdrop-filter:blur(10px);
  font-size:13px;
}

.warning-text{
  font-size:15px;
}

.main-box{
  position:absolute;
  top:47%;
  left:50%;
  transform:translate(-50%,-50%);
  width:550px;
  height:270px;
  padding:10px;
  border:1px solid skyblue;
  border-radius:10px;
  background:rgba(5,8,22,0.5);
  backdrop-filter:blur(10px);
}

.aaa{
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:30px;
}

.skyblue{
  color:skyblue;
}

.visual-text{
  position:absolute;
  top:2%;
  left:50%;
  font-size:30px;
  transform:translate(-50%,-50%);
}

.count-options input{
  display:none;
}

.count-1{
  position:absolute;
  top:45%;
  left:20%;
  transform:translate(-50%,-50%);
  font-size:25px;
  width:60px;
  height:35px;
  padding:10px;
  border:3px solid #2da8e8;
  border-radius:10px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.count-3{
  position:absolute;
  top:45%;
  left:40%;
  transform:translate(-50%,-50%);
  font-size:25px;
  width:60px;
  height:35px;
  padding:10px;
  border:3px solid #2da8e8;
  border-radius:10px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.count-5{
  position:absolute;
  top:45%;
  left:60%;
  transform:translate(-50%,-50%);
  font-size:25px;
  width:60px;
  height:35px;
  padding:10px;
  border:3px solid #2da8e8;
  border-radius:10px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.count-10{
  position:absolute;
  top:45%;
  left:80%;
  transform:translate(-50%,-50%);
  font-size:25px;
  width:60px;
  height:35px;
  padding:10px;
  border:3px solid #2da8e8;
  border-radius:10px;
  background:#12365c;
  backdrop-filter:blur(10px);
  text-align:center;
}

.count{
  position:absolute;
  top:21%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:13px;
  color:white;
}

.count-1:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.count-3:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.count-5:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.count-10:has(input:checked){
  background:#004551;
  border-color:#20c997;
}

.start{
  position:absolute;
  top:85%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#1e69ff;
  color:white;
  border:1px solid 1e72ff;
  border-radius:40px;
  backdrop-filter:blur(10px);
  width:280px;
  height:50px;
  font-size:25px;
}

#count-message{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  font-size:60px;
  font-weight:bold;
  opacity:0;
  pointer-events:none;
}

#count-message.show{
  animation:fadeOut 1.5s ease forwards;
}

@keyframes fadeOut{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

#circular{
  position:absolute;
  top:51%;
  left:50%;
  transform:translate(-50%,-50%);
  width:200px;
  height:200px;
  background:#12365c;
  border:3px solid #2da8e8;
  border-radius:50%;
  color:white;
  text-align:center;
  font-size:10px;
}

#circular-text{
  position:absolute;
  top:29%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:30px;
  color:white;
}

#circular{
  display:none;
}

#circular-text{
  display:none;
}

#result1{
  position:absolute;
  top:40%;
  left:37%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result2{
  position:absolute;
  top:44%;
  left:37%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result3{
  position:absolute;
  top:48%;
  left:37%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result4{
  position:absolute;
  top:52%;
  left:37%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result5{
  position:absolute;
  top:56%;
  left:37%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result6{
  position:absolute;
  top:40%;
  left:63%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result7{
  position:absolute;
  top:44%;
  left:63%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result8{
  position:absolute;
  top:48%;
  left:63%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result9{
  position:absolute;
  top:52%;
  left:63%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#result10{
  position:absolute;
  top:56%;
  left:62.5%;
  transform:translate(-50%,-50%);
  font-size:26px;
  color:white;
  display:none;
}

#average-result{
  position:absolute;
  top:51%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:20px;
  display:none;
}

#retry-button {
  position:absolute;
  top:62.5%;
  left:38%;
  transform:translate(-50%,-50%);
  font-size:14px;
  color:white;
  background:#12365c;
  border:3px solid #2da8e8;
  border-radius:10px;
  display: none;
  wigth:70px;
  height:50px;
}

#result-button {
  position:absolute;
  top:62.5%;
  left:62%;
  transform:translate(-50%,-50%);
  font-size:14px;
  color:white;
  background:#12365c;
  border:3px solid #2da8e8;
  border-radius:10px;
  display: none;
  wigth:70px;
  height:50px;
}

#average-result.insufficient {
  font-size: 13px;
}